.calc{
    width:320px;
    margin: 100px auto;
}
#answer{
    background: #e2e2e2; 
    padding:10px;
    font-size: 35px;
    width:295px;
    height:45px;
    text-align: right;
    border:3px solid #333;
}
.button{
    background: #333;
    height: 80px;
    width:80px;
    color: white;
    font-size: 30px;
    border:1px solid black ;
    float: left;
}
.button1{
    width: 160px;
}